html{
	background-image:url('../images/scholar.jpg'); /*http://upload.wikimedia.org/wikipedia/commons/c/c6/Gerbrand_van_den_Eeckhout_003.jpg*/
	/*background-repeat:no-repeat;*/
	background-size:100%;
}
body {
	width:1190px;
	float:center;
	margin:auto;
	margin-bottom:20px;
	background-color:rgba(140,140,140,.6);
	padding:15px;
	margin-top:20px;
	font-family:Cambria;
	border-radius:10px;
}

a {
	text-decoration: none;
}

form { display: inline; }

.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
   }

.citation {
	/*width:50%;
	float:left;	*/
}

.citations {
	margin-bottom:20px;
}

#citation_text_box {
	background-color:rgba(0,0,0,.1);
	padding:5px;
}

.citationIntNotes {
	color:rgb(0,182,15);
	margin-left:50px;
}

.cite_light {
	/*background-color:rgba(15,150,223,.05);
	background-color:rgba(15,150,223,.05);*/
}

.cite_dark {
	background-color:rgba(15,150,223,.11);
	background-color:rgba(245,245,245,1);
}

.cite_edit {
	width:100%;
	text-align: right;	
}

.cite_edit ul {
	margin-right:7px;
}

.cite_edit ul {
	margin-bottom:0;
}

.cite_edit li {
	padding-left:6px;
}

.cite_text_box {
	padding-left:1.5em;
}

.externalHeaderFooter {
	border-radius:7px;	
}

#footer {
	background-color: rgba(226,226,226,1);
	padding: 10px;		
}

#foot a{
	text-decoration: none;
	color:black;
}

#generate_loading {
	display:none;
}

#header {
	background-color:rgba(226,226,226,1);
	padding:10px;	
}

#header.externalHeaderFooter, #footer.externalHeaderFooter {
	background-color:white;
}

.inline-list {
	list-style-type: none;
}

.inline-list li {
	display:inline;
}

#journal_search {
	display:none;
	background-color:rgba(0,0,0,.1);
	/*max-height:300px;
	overflow-y:scroll;*/
}

#journal_search ul {	
	max-height:300px;
	overflow-y:scroll;
}

#journal_search li { 
	cursor: hand; cursor: pointer;
}

#nav {
	text-align:right;	
}

#nav ul {
	margin-bottom:0;
}

#nav li {
	padding-left: 6px;
}

.orange{
	color:orange;
}

#overview_text {
	display:none;

}

#overview_text_output {
	/*display:none;*/

}

#page_content {
	background-color:white;
	padding:15px;
}

.report_copy {
	color:#666;
	padding-left:1.5em;
}

#report_tools {
	background-color:rgba(255,243, 196,.5);
	padding:10px;
}

ul {
	list-style:none;
}


