<?php

// general configuration file for CVreviewTool
//////////////////////////////////////////////

// Name of institution
$institution_name = "ENTER YOUR INSTITUTION'S NAME HERE";

// base URL (no trailing slash)
$base_url = "FULL HTTP URL OF YOUR APPLICATION (e.g. 'http://university.edu/CVreviewTool')";



?>
